<div class="container">

    <div class="buscador">
        <input class="espacio" type="number" placeholder="Buscar Libros" #input5>
        <button  class="btn" (click) =getAll(input5.value)>
            <i class="fa fa-search"></i>
        </button>
    </div>
    
    <div class="alerta" *ngIf ="Libros.length ===0">
        <img src="../../../assets/img/gato404.jpg" class="imgFondo" alt="">
    </div>

    <div class="conte" *ngFor ="let librito of Libros; let par = odd;" [ngClass]="{botoncito:par}" >
        <div class="card">
            <p class="close" (click)="delete(librito.id_libro)">X</p>
            <img src="{{librito.photo}}" alt="">
        </div>
    <div class="informacion">
        <h2>{{librito.titulo}}</h2>
        <p>{{librito.autor}}</p>
        <p>{{librito.tipoLibro}}</p>
        <p>{{librito.id_libro | ref}}</p>
    </div>
    <div class="precio">
        <div class="box-precio">
            <span class="precio1">€/{{librito.precio}}</span>
            <input  type="button" value="Comprar">
        </div>
    </div>
    
    </div>

</div>


