<div class="cabecera">
    <h1>MyBooks</h1>

    <ul *ngIf="this.servicio.logueado  == true; else esFalso">

        <li class="tope">
            <a routerLink= "/libros"  >Libros</a>
            <ul class="menu-vertical">
                <li><a routerLink= "/agregarLibro">Agregar</a></li>
                <li><a routerLink= "/modificarLibro">Modificar</a></li>
            </ul>    
        
        </li>
        <li class="tope"><a routerLink='/perfil' >Perfil</a></li>
    </ul>

    <ul #esFalso>
        <li class="tope"><a routerLink= ""  >Home</a></li>
        <li class="tope" ><a routerLink='/login' >Login</a></li>
        <li class="tope"><a routerLink='/registro' >Registro</a></li>
        
    </ul>
    

</div>
