<form action="Formulario">
    <div class="preformulario">
        <div class="formulario">
            
                <h1>Registrate</h1>
                <input class="componente" type="text" placeholder="Nombre">
                <input class="componente" type="text" placeholder="Apellido">
                <input class="componente" type="text" placeholder="Correo">
                <input class="componente" type="text" placeholder="Contraseña">
                <input class="componente" type="text" placeholder="Repetir Contraseña">
                <input class="boton" type="button" value="Registrarse">
            
        </div>
    </div>
</form>