<div class="container2">

    <form action="Formulario">
        <div class="preformulario">
            <form class="formulario" >
                
                    <h1>Modifica tu libro</h1>
                    <input class="componente"  #input1 type="text" placeholder="Titulo">
                    <input class="componente"  #input2 type="text" placeholder="Autor">
                    <input class="componente"  #input3 type="text" placeholder="Tipo de Libro">
                    <input class="componente"  #input4 type="number" placeholder="Precio">
                    <input class="componente"  #input5 type="text" placeholder="Photo">
                    <input class="componente"  #input6 type="number" placeholder="Codigo Libro">
                    <input class="boton" type="button" value="Añadir Libro" (click)="modificar(input1.value,input2.value,input3.value,input4.value,input5.value,input6.value)">
                
            </form>
        </div>
    </form>

</div>
