.cuerpo
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    height: 80vh;
    background-image: url("../../../assets/img/clint-mckoy-App9lCSl2uA-unsplash.jpg");
    background-position: 50% 70%;
    background-size: cover;
}

.cuerpo h1
{
   
    color: white;
    font-size: 60px;
}
.cuerpo h2
{
    
    color: white;
}

.imagen
{
    
    
    
}

.cover
{
    
    background-size: cover;

}